node_modules/
dist/
lib/
.firebase/
.emulator-data/
firebase-debug.log
firestore-debug.log
storage-debug.log
ui-debug.log
*.local
.env
.env.*
!.env.example
!.env.development
coverage/
playwright-report/
test-results/
*.tsbuildinfo
.DS_Store
*.zip
